In [1]:
import d3blocks
from d3blocks import D3Blocks
import pandas as pd

In [2]:
# remove warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
schedule = pd.read_csv('schedule.csv', delimiter=';')
schedule.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         750 non-null    object
 1   Time         750 non-null    object
 2   sample_id    750 non-null    object
 3   Destination  750 non-null    object
dtypes: object(4)
memory usage: 23.6+ KB

In [4]:
schedule['DateTime'] = pd.to_datetime(schedule['Date'] + ' ' + schedule['Time'], format='%Y-%m-%d %H.%M.%S')
# Drop the original 'Date' and 'Time' columns if needed
schedule = schedule.drop(['Date', 'Time'], axis=1)

schedule = schedule[['DateTime', 'sample_id', 'Destination']]
# Display the updated DataFrame
print(schedule)

               DateTime       sample_id     Destination
0   2024-01-14 09:00:00          MSC_01        Shanghai
1   2024-01-15 02:30:00          MSC_03        Shanghai
2   2024-01-15 16:00:00          MSC_06       Singapore
3   2024-01-16 23:00:00          MSC_07        Shanghai
4   2024-01-17 15:00:00          MSC_02       Rotterdam
..                  ...             ...             ...
745 2024-03-28 23:00:00  Hapag Lloyd_01  Rio de Janeiro
746 2024-03-31 23:00:00  Hapag Lloyd_01          Bergen
747 2024-04-01 00:00:00  Hapag Lloyd_09     Southampton
748 2024-04-05 23:00:00  Hapag Lloyd_02          Manila
749 2024-04-08 02:00:00  Hapag Lloyd_01  Rio de Janeiro

[750 rows x 3 columns]

In [5]:
schedule.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DateTime     750 non-null    datetime64[ns]
 1   sample_id    750 non-null    object
 2   Destination  750 non-null    object
dtypes: datetime64[ns](1), object(2)
memory usage: 17.7+ KB

In [6]:
schedule.head(3)

             DateTime sample_id Destination
0 2024-01-14 09:00:00    MSC_01    Shanghai
1 2024-01-15 02:30:00    MSC_03    Shanghai
2 2024-01-15 16:00:00    MSC_06   Singapore

In [7]:
schedule['sample_id'].sort_values()

310    CMA CGM_01
420    CMA CGM_01
442    CMA CGM_01
304    CMA CGM_01
353    CMA CGM_01
          ...
185     Maersk_15
172     Maersk_15
180     Maersk_15
193     Maersk_15
197     Maersk_15
Name: sample_id, Length: 750, dtype: object

In [8]:
d3 = D3Blocks()

d3.movingbubbles(schedule,
    datetime='DateTime',
    sample_id='sample_id',
    state='Destination',
    filepath='./schedule.html'
)

[d3blocks] >INFO> Cleaning edge_properties and config parameters..
[d3blocks] >INFO> Cleaning edge_properties and config parameters..
[d3blocks] >INFO> Initializing [Movingbubbles]
[d3blocks] >INFO> filepath is set to [/Users/natlap/Desktop/TAITOTALO/DATA-A/OWN_PROJECT/movingbubbles/schedule.html]
[d3blocks] >INFO> Convert to DataFrame.
[d3blocks] >INFO> Node properties are set.
[d3blocks] >INFO> Standardizing input dataframe using method: [samplewise].
[d3blocks] >INFO> Standardize method: [samplewise]
100%|██████████| 75/75 [00:00<00:00, 2631.48it/s]
[d3blocks] >INFO> Set all nodes to size: 5
[d3blocks] >WARNING> Colormap [Set1] can not create [75] unique colors! Available unique colors: [9].
[d3blocks] >INFO> Edge properties are set.
[d3blocks] >INFO> File already exists and will be overwritten: [/Users/natlap/Desktop/TAITOTALO/DATA-A/OWN_PROJECT/movingbubbles/schedule.html]
[d3blocks] >INFO> File not found: [file:////Users/natlap/Desktop/TAITOTALO/DATA-A/OWN_PROJECT/movingbubbles/schedule.html]
[d3blocks] >INFO> Open browser: file:////Users/natlap/Desktop/TAITOTALO/DATA-A/OWN_PROJECT/movingbubbles/schedule.html